<div class="container">
  <!-- <input type='button' value='Start Timer' id='timer' /> -->
  <!-- <div id="counter"> 8:00</div>
  <div class="countdown"></div> -->
  <div class = "entry">
    <h2> Enter your guess here! </h2>
    <input type='text' id='nation' />
  </div>
  <h3> Countries Remaining/Total: <span class = "natcount"> </span> <%= @country_count %></h3>

  <h3> Percentage Remaining: <span class = "natpercent"></span></h3>
  <h3 style="float:right; padding-right:10%"> Give up?!?! <input type='button' value='Show All Nations' id='nationshow' /></h3>
  <h2 id="goodstatusmessage"></h2>
  <h2 id="finishedmessage"></h2>
  <h2 id="badstatusmessage"> Not even close! Keep trying!</h2>

  <h1> List of Countries in <%= @continent.cont %></h1>

  <ul class="nationlist">
    <% @country_array.each do |c| %>
    <% cnew = c.downcase.tr(' ', '_')%>
    <li class="natborder"><span class="hidden" id='<%=cnew%>'> <%=c%></span> </li>
    <% end %>
  </ul>
  <%=link_to "Back", continents_path%>
  
</div>
